---
---
/* Override theme defaults */
// $base-font-family: HelveticaNeu;
// $brand-color: darkgray;

/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */
* {
  font-family: "JetBrains Mono", monospace;
}
.page-content {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
h1, .post-title {
  font-weight: 800;
  font-size: 30px;
}
h2,  .post-content h2 {
  font-weight:600;
  font-size:20px;
}
h3, h4, .post-content h3, h4 {
  font-size: 20px; 
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #0014EE;
}
a:hover {
  text-decoration: underline;
  color: #0014EE;
}
/* Code */
pre > * {
  font-size: 14px;
}
.py-editor-input > * {
  font-size: 14px;
}
/* Navigation links */
.prevnextlinks {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  margin-top: 40px;
}
.terminal-link {
  border-color: black;
  background-color: black;
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 2;
  margin: 10px;
}
/* For intro lines */
.glowtext > * {
  color: #0f0;
  font-size: 16px; //clamp(0.5rem, 3vw, 1rem);
  display: inline-block;
  position: relative;
  margin: 18px;
  text-shadow: 
        0 0 5px #0f0,
        0 0 10px #0f0,
        0 0 20px #0f0,
        0 0 40px #0f0; /* Neon glow effect */
}
.terminal-link a {
  color: #0f0;
  text-decoration: none;
}
/* Style and animate the cursor */
.cursor {
  display: inline-block;
  width: 8px;//clamp(2px, 1.5vw, 8px);
  height: 18px;//clamp(4px, 3vh, 18px);
  background-color: #0f0;
  vertical-align: top;
  animation: blink 1s step-end infinite;
  position: relative;
  top: 2px;
  margin-left: 2px;
  box-shadow: 
        0 0 5px #0f0,
        0 0 10px #0f0,
        0 0 20px #0f0; /* Glow effect for cursor */
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
/* footer */
.site-footer * {
  font-weight: 400;
  font-size: 13px;
}
